@import "tailwindcss";




:root {
	--primary: 234 82% 60%; /* HSL for #405ef2 */
	--primary-foreground: 0 0% 100%;
}

.bg-primary {
	background-color: hsl(var(--primary)) !important;
}

.text-primary-foreground {
	color: hsl(var(--primary-foreground)) !important;
}
